:root{
    --background:#000;
    --contraste: #708090;
    --texto: #fff;
}

body{
    background-image: url(https://images.squarespace-cdn.com/content/v1/5d9eed71525d4d25aaeeb997/1575020573023-B0A0OZEXLN0MG3JKXWM6/Screen6_Gamescom_GS_Exclusive.jpg);
    align-items: center;
    display:flex;
    justify-content: center;
}

main{
    background-color: var(--background);
    color:var(--texto);
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    height: 100vh;
    border: 1px solid var(--texto);
    border-radius: 10px;
    max-width: 1020px;
    min-width:634px;
}

.banner{
    background-image: url(../img/capa.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    background-color: var(--contraste);
    height: 50px;
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: var(--texto);
    font-weight: bold;
}

.text{
    margin: 0px 20px;
}

footer{
    margin-top: 50px;
    text-align: center;
}
